<div class="account-pages mt-5 mb-5">
<div class="container-fluid">
  <app-page-title title="Create Product" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body" >Product
          <h4 class="card-title mb-4">Create New </h4>
          <form class="outer-repeater"
                *ngIf="productForm"
                [formGroup]="productForm"
                (ngSubmit)="save()" >


<!--            <form class="outer-repeater"-->
<!--                  *ngIf="productForm"-->
<!--                  [formGroup]="productForm">-->
              <ngb-alert type="danger" *ngIf="error" [dismissible]="true">{{ error }}</ngb-alert>
              <div data-repeater-list="outer-group" class="outer">
                <div data-repeater-item class="outer">
                  <div class="form-group row mb-4">
                    <label for="name" class="col-form-label col-lg-2">Name</label>
                    <div class="col-lg-10">
                      <input id="name"
                             name="name"
                             type="text"
                             class="form-control"
                             formControlName="name"
                             [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                             placeholder="Enter Product Name...">
                    </div>
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                      <div *ngIf="f.name.errors.required">Name is required</div>
                    </div>
                  </div>

                  <div class="form-group row mb-4">
                    <label for="category" class="col-form-label col-lg-2">Category</label>
                    <div class="col-lg-10">
                      <input id="category"
                             name="category"
                             type="text"
                             class="form-control"
                             formControlName="category"
                             [ngClass]="{ 'is-invalid': submitted && f.category.errors }"
                             placeholder="Enter category...">
                    </div>
                    <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                      <div *ngIf="f.category.errors.required">Category is required</div>
                    </div>
                  </div>

                  <div class="form-group row mb-4">
                    <label for="subCategory" class="col-form-label col-lg-2">SubCategory</label>
                    <div class="col-lg-10">
                      <input id="subCategory"
                             name="subCategory"
                             type="text"
                             class="form-control"
                             formControlName="subCategory"
                             [ngClass]="{ 'is-invalid': submitted && f.subCategory.errors }"
                             placeholder="Enter subCategory...">
                    </div>
                    <div *ngIf="submitted && f.subCategory.errors" class="invalid-feedback">
                      <div *ngIf="f.subCategory.errors.required">Sub-category is required</div>
                    </div>
                  </div>

                  <!--      <div class="form-group row mb-4">-->
                  <!--          <label for="tags" class="col-form-label col-lg-2">Country</label>-->
                  <!--          <div class="col-lg-10">-->
                  <!--            <ng-select [items]="tags"-->
                  <!--                       [ngClass]="{ 'is-invalid': submitted && f.country.errors }"-->
                  <!--                       id="tags"-->
                  <!--                       name="tags"-->
                  <!--                       bindLabel="value"-->
                  <!--                       autofocus-->
                  <!--                       bindValue="key"-->
                  <!--                       formControlName="tags"-->
                  <!--                       class="full-width"-->
                  <!--                       appendTo="body"-->
                  <!--                       required>-->
                  <!--            </ng-select>-->

                  <!--          </div>-->

                  <!--          <div *ngIf="submitted && f.country.errors" class="invalid-feedback">-->
                  <!--            <div *ngIf="f.country.errors.required">Country is required</div>-->
                  <!--          </div>-->

                  <!--      </div>-->

                </div>
              </div>

<!--            </form>-->

            <div class="row justify-content-end">
              <div class="col-lg-10">
                <button *ngIf="id" type="button" class="btn btn-warning" (click)="cancel()">Cancel</button>
                <button *ngIf="id" type="submit" class="btn btn-primary">Update Product</button>
                <button *ngIf="!id" type="submit" class="btn btn-primary">Create Product</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

</div> <!-- container-fluid -->

</div>
